*.iml
.gradle/
.kotlin/
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

.idea/

app/build/
app/google-services.json
app/src/main/java/
app/src/main/res/layout/
app/src/main/res/menu/
app/src/main/res/navigation/
MainActivity.kt

.DS_Store
docs/Final form Fit track.zip
docs/Final form Fit track 2/.thumbnail
